## Quiz #0203

In [1]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [ ]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [2]:
from google.colab import files
uploaded=files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving data_sales.csv to data_sales.csv
User uploaded file "data_sales.csv" with length 1766 bytes

In [3]:
df = pd.read_csv('data_sales.csv', header='infer')

In [4]:
df.shape

(43, 5)

In [5]:
df.head(5)

          Date   Region     Item  UnitPrice  Units
0   4-Jul-2014     East  Pen Set       4.99     62
1  12-Jul-2014     East   Binder       1.99     29
2  21-Jul-2014  Central  Pen Set      12.49     55
3  29-Jul-2014     East   Binder      19.99     81
4   7-Aug-2014  Central  Pen Set      23.95     42

#### Answer the following questions.

1). Append a new variable $Amount = UnitPric \times Units$.

In [7]:
df['Amount']=df['UnitPrice']*df['Units']
df.head()

          Date   Region     Item  UnitPrice  Units   Amount
0   4-Jul-2014     East  Pen Set       4.99     62   309.38
1  12-Jul-2014     East   Binder       1.99     29    57.71
2  21-Jul-2014  Central  Pen Set      12.49     55   686.95
3  29-Jul-2014     East   Binder      19.99     81  1619.19
4   7-Aug-2014  Central  Pen Set      23.95     42  1005.90

2). Average unit price for each region. Use the groupby() method.

In [10]:
df[['Region','UnitPrice']].groupby('Region').mean()

         UnitPrice
Region
Central  18.018750
East      9.143846
West     53.658333

3). Average unit price for each region. Use the pivot_table() method.

In [12]:
pd.pivot_table(df,values='UnitPrice',index='Region',aggfunc=np.mean)

         UnitPrice
Region
Central  18.018750
East      9.143846
West     53.658333

4). Average unit price and units for each region in one code sentence. Use the groupby() method.

In [13]:
df[['Region','UnitPrice','Units']].groupby('Region').mean()

         UnitPrice      Units
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

5). Average unit price and units for each region in one code sentence. Use the pivot_table() method.

In [16]:
pd.pivot_table(df,values=['UnitPrice','Units'],index='Region',aggfunc=np.mean)

         UnitPrice      Units
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

6). Total units for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [18]:
pd.pivot_table(df,values='Units',index='Region',columns='Item',aggfunc=np.sum,fill_value=0)

Item     Binder  Desk  Pen  Pen Set  Pencil
Region
Central     424     7   27      243     498
East        234     0  175      152     130
West         64     3   76        0      88

7). Total sales amount for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [19]:
pd.pivot_table(df,values='Amount',index='Region',columns='Item',aggfunc=np.sum,fill_value=0)

Item      Binder  Desk      Pen  Pen Set   Pencil
Region
Central  5762.63   875   539.73  2421.39  1540.32
East     2535.66     0  1354.25  1748.48   363.70
West     1279.36   825   151.24     0.00   231.12